@{
    
}

<html>
<head> 
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Twitch Plays Mobi Robi</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>    
</head>    

<body>
<div class="hero-image">
    <div class="hero-text">
        <h1>Twitch Plays Mobi Robi</h1>
    </div>
</div>

<div class="main-text">
    <div class="row message">
        <h1 class="timer-message" id="timer-message">Mobo Robi will do the action with the most votes in 10s.</h1>
    </div>
    <div class="row votes">
        <div class="row col-sm-1"></div>
        <div class="row col-sm-2">
            <div class="row">Stop</div>
            <div class="row" id="stop-vote-count">0</div>
        </div>
        <div class="row col-sm-2">
            <div class="row">Left</div>
            <div class="row" id="left-vote-count">0</div>
        </div>
        <div class="row col-sm-2">
            <div class="row">Right</div>
            <div class="row" id="right-vote-count">0</div>
        </div>
        <div class="row col-sm-2">
            <div class="row">Forward</div>
            <div class="row" id="forward-vote-count">0</div>
        </div>                 
        <div class="row col-sm-2">
            <div class="row">Blink</div>
            <div class="row" id="blink-vote-count">0</div>
        </div>               
        <div class="row col-sm-1"></div>
    </div>
</div>

<script>
    var timerMessage = document.getElementById("timer-message");
    var stopVoteCount = document.getElementById("stop-vote-count");
    var leftVoteCount = document.getElementById("left-vote-count");
    var rightVoteCount = document.getElementById("right-vote-count");
    var forwardVoteCount = document.getElementById("forward-vote-count");
    var blinkVoteCount = document.getElementById("blink-vote-count");
    var ajaxRequest = new XMLHttpRequest();
    ajaxRequest.onreadystatechange = function(){
        if(ajaxRequest.readyState == 4){
            if (ajaxRequest.status == 200) {
                var response = JSON.parse(ajaxRequest.responseText);
                timerMessage.innerHTML = "Mobi Robi will do the action with the most votes in " + response.secondsLeft + "s.";
                stopVoteCount.innerHTML = response.stopVotes;
                leftVoteCount.innerHTML = response.leftVotes;
                rightVoteCount.innerHTML = response.rightVotes;
                forwardVoteCount.innerHTML = response.forwardVotes;
                blinkVoteCount.innerHTML = response.blinkVotes;
            }
        }
    }
    
    setInterval(function(){
        try {
            ajaxRequest.open("GET", "stats", true);
            ajaxRequest.send();
        }
        catch(err) {}
    }, 500);
    
</script>
</body>
</html>
