@{
    
}
<html>
<head>
    <title>Admin - Twitch Plays Mobi Robi</title>
</head>
<body>
    <div>
        <h2>Mobi Robi URL</h2>
        <input type="text" value="http://mobirobi" />
        <button>Update</button>
    </div>
    <div>
        <h2>Refresh Time</h2>
        <input type="number" value="10" /> sec
        <button>Update</button>
    </div>
</body>
</html>
