@model TwitchPlaysMobiRobi.Web.Domain.Settings

@{
    
}
<html>
<head>
    <title>Admin - Twitch Plays Mobi Robi</title>
</head>
<body>
    <div>
        <h2>Mobi Robi URL</h2>
        <form method="POST" action="/Admin/BaseUrl">
            <input type="text" name="url" value="@Model.MobiRobiBaseUrl" />
            <input type="submit" value="Update" />
        </form>
    </div>
    <div>
        <h2>Seconds Between Votes</h2>
        <form method="POST" action="/Admin/SecondsBetweenVotes">
            <input type="number" name="seconds" value="@Model.SecondsBetweenVotes" /> sec
            <input type="submit" value="Update" />
        </form>
    </div>
</body>
</html>
